---
title: "Chiri works! And here's what she creates..."
description: "Chiri Vulpes is a prolific creator — an author, a designer, a software developer, an artist, and even a composer! Here's some stuff she's made and ways you can get in contact with her."
css:
  - layout/masonry
  - page/home
footer: page/home/footer.html
---

<aside>
	<article>
		<h2 id="stories"><a href="#stories">Stories</a></h2>
		<header>
			<nav>
				<a href="https://www.patreon.com/chirichirichiri">Patreon</a>
				<a href="https://chirichirichiri.itch.io/">itch.io</a>
				<a href="https://www.scribblehub.com/profile/12063/chirichirichiri/">Scribble Hub</a>
			</nav>
			<p>I write transgender-themed novels! I work in all sorts of genres from realistic fiction to fantasy to sci-fi and more. If you're trans or you like to read stories about people coming to understand aspects of themselves, and getting happier all the while, consider checking them out!</p>
			<p><b>I take commissions!</b> If you'd like to commission a chapter, check out my <a href="https://www.patreon.com/chirichirichiri">Patreon</a>.</p>
		</header>
		<section>
			<h3><span>Completed</span></h3>
			<a class="article story" href="https://chirichirichiri.itch.io/polyclueless">
				{% include util/webp loading="lazy" aria-hidden=true src="thumb/polyclueless" alt="Polyclueless cover" %}
				<header>
					<h4>Polyclueless</h4>
					<div class="details"><span class="length">14k words.</span>
						Available for <span class="price">$1</span> on itch.io. May be released on Scribble Hub at a later point.</div>
				</header>
				<p>Stephen was a very uncomfortable and anxious boy riddled with insecurities and fears. He was also best friends with a lesbian couple, and, strangely, they seemed to care about him, which was weird. What was the point of caring about someone with no redeeming qualities?</p>
				<p>Regardless, they did, and they decided to take him along with them into VR for their summer vacation. He felt so out of place when he spent time with them, so... wrong, but... VR is a chance to be someone else. A chance to escape from the reality of the body you’re stuck in outside.</p>
				<p>Stephen would take full advantage of that opportunity, and maybe, just maybe... he wouldn’t be quite so out of place after all.</p>
			</a>
			<a class="article story" href="https://www.scribblehub.com/series/127517/it-happened-at-osier-high/">
				{% include util/webp loading="lazy" aria-hidden=true src="thumb/osier-high" alt="It Happened at Osier High cover" %}
				<header>
					<h4>It Happened at Osier High</h4>
					<div class="details"><span class="length">5 chapters, 18k words.</span>
						Available for free on Scribble Hub!</div>
				</header>
				<p>Osier High had many rules, but none of which affected Warner quite as much as the rule that students could not be in relationships with members of the other sex. That wouldn’t stop him, though — he needed a girlfriend, even if he wasn’t entirely sure why. And, heck, rules were meant to be broken. He could handle any punishment, if it came.</p>
				<p>...Right?</p>
			</a>
			<a class="article story" href="https://www.patreon.com/chirichirichiri/posts?filters%5Btag%5D=something%27s%20witchy">
				{% include util/webp loading="lazy" aria-hidden=true src="thumb/somethings-witchy" alt="Something's... Witchy cover" %}
				<header>
					<h4>Something's... Witchy</h4>
					<div class="details"><span class="length">5 chapters, 6k words.</span> Patreon-only (<span class="price">$1</span>) until edited.</div>
				</header>
				<p>Ever since I was eleven years old, I could see magic. I tried to tell my mum that I could see it, but... She didn't believe me and pretended like magic didn't exist. And I could see it! She was clearly a witch!</p>
				<p>...But it didn't matter, and for the next two years she continued to hide it. Honestly? I didn't care. I already had a bad relationship with her and didn't particularly trust her. She'd always cared more about my sister, treating me... <i>strangely</i>. So no, I hid everything from her, just as she hid everything from me. Including the fact that I'd begun thinking of myself as a forgotten girl, cursed to see but not to be.</p>
				<p>Thing is, though, when my sister turned eleven, she awoke as a witch. And her awakening meant that she began going to this... private witch academy school place. And a school of magic was a school of opportunity... Perhaps I <i>wouldn't</i> forever be cursed not to be.</p>
			</a>
			<a class="article story" href="https://www.patreon.com/posts/45733413">
				<header>
					<h4>A Very Girly Sleepover to Which I Was Not Invited</h4>
					<div class="details"><span class="length">Oneshot, 4k words.</span> Patreon-only (<span class="price">$1</span>) until edited.</div>
				</header>
				<p>I hated sleepovers! Whenever my sister had them it made me want to scream, hearing the talking and giggles, the house being filled with girls and stuffed animals and cute clothes.</p>
				<p>And even worse than that, people had a habit of rolling their eyes at me and saying “Boys.” And for some reason that made me so uncomfortable.</p>
				<p>But then again, even if it upset me there was nothing I could do. Luckily, I didn’t have to — I had a sister and she had ideas.</p>
			</a>
		</section>
		<section>
			<h3><span>Ongoing</span></h3>
			<a class="article story" href="https://www.patreon.com/chirichirichiri/posts?filters%5Btag%5D=once-prince%20%26%20wildling">
				<header>
					<h4>The Once-Prince and the Wildling</h4>
					<div class="details"><span class="length">7 chapters, 14k words.</span> Patreon-only (<span class="price">$1</span>) until completed.</div>
				</header>
				<p>Prince August of Adapiel did not like being a prince. In fact, he hated it along with nearly every single 'privilege' it gave him.</p>
				<p>But then, a surprise delegation from a country at odds with Adapiel — one with a vastly different culture, and strange magicks, too...
					<br>Two stars meet, one red, one blue — the colour produced is purple in hue.</p>
				<p>'Twas a night of fated encounters.</p>
			</a>
		</section>
		<section>
			<h3><span>Hiatus</span></h3>
			<a class="article story" href="https://www.scribblehub.com/series/111627/the-yin-physique/">
				{% include util/webp loading="lazy" aria-hidden=true src="thumb/yin-physique" alt="The Yin Physique cover" %}
				<header>
					<h4>The Yin Physique</h4>
					<div class="details"><span class="length">15 chapters, 42k words.</span> Will return soon.</div>
				</header>
				<p>Stumbling upon an inheritance could grant you many amazing things — tips on cultivating essences, mastery of cultivation paths, vi plants, vi formulas, combo moves, and so much more. Finding one is like being blessed by an ancestor, taking their strength for your own and gaining a powerful leap forwards in your cultivation!</p>
				<p>I've stumbled upon many an inheritance in my time, but none more valuable than the inheritances of a woman named Star Rain, cultivator of the mysterious "yin path". In each inheritance, this powerful woman recorded her autobiography — the steps she took, the experiences she went through... I've dedicated my life to piecing together the life of Star Rain, and this is what I've found.</p>
			</a>
			<a class="article story" href="https://www.scribblehub.com/series/63122/snowbound/">
				{% include util/webp loading="lazy" aria-hidden=true src="thumb/snowbound" alt="Snowbound cover" %}
				<header>
					<h4>Snowbound</h4>
					<div class="details"><span class="length">5 chapters, 20k words.</span> Will be rewritten and republished.</div>
				</header>
				<p>Snowbound is a story about two roommates being trapped. Trapped by life, by society... by their situations they feel powerless to change.</p>
				<p>VR should be an escape, but can it still be, when you're snowbound? Instead, confined to a small space, and with a bit of chemistry or magic, the two could form a bond tighter than they ever would have thought was possible.</p>
			</a>
		</section>
	</article>
	
	<article>
		<h2 id="art"><a href="#art">Art</a></h2>
		<section>
			<h3>Story Covers</h3>
			<p>I make covers for stories — my own stories and others! I've gotten better at it, too, from what I think at least. The following covers are sorted from newest to oldest.</p>
			<div class="art">
				<a href="/static/image/cover/unforeseen-variables.png">{% include util/webp loading="lazy" src="thumb/unforeseen-variables" alt="Unforeseen Variables cover" %}</a>
				<h4><a href="https://www.patreon.com/SynTheGuardian">Unforeseen Variables</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/trolls-and-tribulations.png">{% include util/webp loading="lazy" src="thumb/trolls-and-tribulations" alt="Trolls and Tribulations cover" %}</a>
				<h4><a href="https://rooibos-chai.itch.io/trolls-tribulations">Trolls and Tribulations</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/somethings-witchy.png">{% include util/webp loading="lazy" src="thumb/somethings-witchy" alt="Something's... Witchy cover" %}</a>
				<h4><a href="https://www.patreon.com/chirichirichiri/posts?filters%5Btag%5D=something%27s%20witchy">Something's... Witchy</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/polyclueless.png">{% include util/webp loading="lazy" src="thumb/polyclueless" alt="Polyclueless cover" %}</a>
				<h4><a href="https://chirichirichiri.itch.io/polyclueless">Polyclueless</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/hunted.png">{% include util/webp loading="lazy" src="thumb/hunted" alt="Hunted cover" %}</a>
				<h4><a href="https://www.scribblehub.com/series/203224/hunted/">Hunted</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/dissonant-2.png">{% include util/webp loading="lazy" src="thumb/dissonant-2" alt="Dissonant second cover" %}</a>
				<h4><a href="https://www.scribblehub.com/series/169785/dissonant/">Dissonant (cover 2)</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/earthborn-emissary.png">{% include util/webp loading="lazy" src="thumb/earthborn-emissary" alt="Earthborn Emissary cover" %}</a>
				<h4><a href="https://www.scribblehub.com/series/137161/the-earthborn-emissary/">The Earthborn Emissary</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/osier-high.png">{% include util/webp loading="lazy" src="thumb/osier-high" alt="It Happened at Osier High cover" %}</a>
				<h4><a href="https://www.scribblehub.com/series/127517/it-happened-at-osier-high/">It Happened at Osier High</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/yin-physique.png">{% include util/webp loading="lazy" src="thumb/yin-physique" alt="The Yin Physique cover" %}</a>
				<h4><a href="https://www.scribblehub.com/series/111627/the-yin-physique/">The Yin Physique</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/leaking.png">{% include util/webp loading="lazy" src="thumb/leaking" alt="The Other World is Leaking! cover" %}</a>
				<h4><a href="https://www.scribblehub.com/series/21898/the-other-world-is-leaking/">The Other World is Leaking!</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/dissonant-1.png">{% include util/webp loading="lazy" src="thumb/dissonant-1" alt="Dissonant first cover" %}</a>
				<h4><a href="https://www.scribblehub.com/series/169785/dissonant/">Dissonant (cover 1)</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/like-a-daydream.png">{% include util/webp loading="lazy" src="thumb/like-a-daydream" alt="Like a Daydream cover" %}</a>
				<h4><a href="https://www.scribblehub.com/series/115399/like-a-daydream/">Like a Daydream</a></h4>
			</div>
			<div class="art">
				<a href="/static/image/cover/snowbound.png">{% include util/webp loading="lazy" src="thumb/snowbound" alt="Snowbound cover" %}</a>
				<h4><a href="https://www.scribblehub.com/series/63122/snowbound/">Snowbound</a></h4>
			</div>
		</section>
		<section>
			<h3>Other Art</h3>
			<p>Years ago I used to make art all the time, but I was never super good at it so I kinda just fell out of the habit. Recently as I've gotten into making story covers I've started picking up art again, and I've been surprisingly happy with what I've managed to create!</p>
			<div class="art">
				<a href="/static/image/art/chiri-peek.png">{% include util/webp loading="lazy" src="thumb/chiri-peek" class="borderless" alt="A drawing of Chiri the foxgirl peeking up at the viewer, her tail visible" %}</a>
			</div>
			<div class="art">
				<a href="/static/image/art/trolls-and-tribulations-fanart.png">{% include util/webp loading="lazy" src="thumb/trolls-and-tribulations-fanart" alt="A drawing of the silhouette of two girls sitting on a bench under the moonlight, looking at a castle in the distance" %}</a>
			</div>
		</section>
	</article>
</aside>

<aside>
	{% if site.blog.size > 0 %}
		<article class="no-alternating-articles">
			<h2 id="blog"><a href="blog" class="isnav">Blog</a></h2>
			{% include blog.html limit=4 smol=true %}
		</article>
	{% endif %}
	
	<article>
		<h2 id="programming"><a href="#programming">Programming</a></h2>
		<header>
			<nav>
				<a href="https://github.com/ChiriCuddles">GitHub</a>
			</nav>
		</header>
		<section>
			<h3>Games</h3>
			{% include tag/wayward/info.html %}
			<a class="article" href="https://soulus.info/download/">
				<img loading="lazy" src="https://soulus.info/data/soulus/soulbook.png" class="borderless" aria-hidden="true" alt="soulus logo" />
				<h4>Soulus</h4>
				<div class="details"><span class="date">2017-2020.</span> A Minecraft mod for <span class="length">1.12</span> that aimed to blend well with vanilla, adding its mechanics and features in a way that encouraged interoperability with the base game's features.</div>
				<p>Soulus was a mod about digging up fossils to get the "essence" of creatures, and then using that essence to spawn them. The middle game had you constructing a multi-block auto-crafting table that worked with redstone or player interaction and used living creatures as fuel. The late game had you creating entity teleporters and chunk-loaders.</p>
				<p>For what it had, I'm proud of Soulus. If I were to port it to newer versions of Minecraft, I'd probably restart it, though. It did have a lot of flaws.</p>
			</a>
		</section>
		<section>
			<h3>Websites</h3>
			<a class="article" href="https://github.com/ChiriCuddles/chiricuddles.github.io">
				<img loading="lazy" src="/static/image/logo.png" class="borderless" aria-hidden="true" alt="chiri.works logo" />
				<h4>chiri.works</h4>
				<div class="details"><span class="date">January 2021.</span> Well this is a little meta.</div>
				<p>This site is hosted on GitHub Pages, taking advantage of Jekyll & Liquid to provide a whole bunch of templating without the need for serverside code. It has full mobile, AA, keyboard, and screen reader support, all with very little JS. The JS the site <i>does</i> have simply compares timestamps with users' local clocks.</p>
			</a>
			<a class="article" href="https://soulus.info">
				<img loading="lazy" src="https://soulus.info/data/soulus/soulbook.png" class="borderless" aria-hidden="true" alt="soulus.info logo" />
				<h4>soulus.info</h4>
				<div class="details"><span class="date">December 2018.</span> A website for a Minecraft mod.</div>
				<p>Another site hosted on GitHub, soulus.info documents all the features of the mod by importing the data exported straight from the mod itself. It also hosts a player guide and a technical guide.</p> 
				<p>The website is very JS-heavy and can't be viewed with JS disabled, which is unfortunate. I'm still proud of it, but I'd definitely do things differently nowadays.</p>
			</a>
			<a class="article" href="https://fluff4.me">
				<img loading="lazy" src="https://fluff4.me/img/logos/flag/logo.png" class="borderless" aria-hidden="true" alt="fluff4.me logo" />
				<h4>fluff4.me</h4>
				<div class="details"><span class="date">2019-present.</span> A work-in-progress, yet-unreleased website for transgender novels.</div>
				<p>fluff4.me is a passion project of mine that has taken a long time to see the light of day. I want a website for writing that is as good as it can possibly be, and that's a big ask — something that I think only I have the patience to create, even if it takes a long time.</p>
				<p>The website has a front-end that works with or without JS, featuring both a light and dark mode and a lot of care is put into supporting keyboard navigation and screen readers. It's also designed in a way that should make everything easy — easier than any other websites of the same kind.</p>
				<p>fluff4.me's front-end and back-end are both written in TypeScript. The back-end uses express & serverside-react. The website is hosted on Heroku.</p>
			</a>
		</section>
		<section>
			<h3>Utilities, Other</h3>
			<a class="article" href="https://github.com/ChiriCuddles/scryfall-sdk">
				<h4>scryfall-sdk</h4>
				<div class="details"><span class="date">2017-present.</span> A fully-featured SDK for interacting with the Scryfall website in Node.js, written in TypeScript.</div>
				<p>scryfall-sdk was made when I was working on an MTG card collection app. I never ended up finishing the app because I stopped playing MTG, but I still actively maintain the SDK.</p>
			</a>
			<a class="article" href="https://github.com/WaywardGame/WARD">
				<img loading="lazy" src="https://cdn.discordapp.com/avatars/385018093698547713/09f7a3a3bb3bfa188bcd625d067bbc93.png?size=256" aria-hidden="true" alt="WARD avatar" >
				<h4>WARD</h4>
				<div class="details"><span class="date">2017-present.</span> A Discord bot originally made for the Wayward Discord that contains a whole slew of features to help community servers and simplify the jobs of moderators.</div>
				<p>WARD is written in TypeScript for Node.js. It currently only runs on servers that I've added it to myself, but maybe someday I'll set it up so that it can be on all sorts of servers. It's always been a project I work on out of necessity in servers I moderate and that's it.</p>
				<details>
					<summary>Here's a list of plugins I've created for the bot:</summary>
					<ul>
						<li>A "role toggle" plugin that allows users to toggle any of a configured list of roles.</li>
						<li>A "pronouns" plugin that allows users to configure any number of custom pronouns for themself, and even supports custom pronouns for different members of plural systems.</li>
						<li>A "colours" plugin that allows users to change their username colour to a hex colour code.</li>
						<li>A "welcome" plugin that can send a randomised welcome message when a new user joins the server or gains a role.</li>
						<li>A "spam" plugin that detects if users join and immediately leave, and detects users that join with bad URLs in their usernames, and bans them.</li>
						<li>A "regulars" plugin for tracking how active users are.</li>
						<li>A "reminder" plugin that I made mostly for myself, which allows you to ask the bot to remind you about things after a set amount of time.</li>
						<li>A "giveaway" plugin that allows the creation of giveaways by mods — users enter the giveaway by reacting to the message.</li>
						<li>An "auto role" plugin which applies roles to users based on the presence of other roles, or other factors.</li>
						<li>A "twitch stream" plugin that can ping users when a specific Twitch streamer or any streamer playing a specific game has gone live.</li>
						<li>A "changelog" plugin that can post and update changes made to a Trello board. Not currently configurable which Trello board or how to parse the data.</li>
						<li>A "wish" plugin that was made in order to facilitate a secret-santa writing giveaway in December 2020.</li>
						<li>A work-in-progress "king" plugin that allows users to play a card game I made a while back called "king."</li>
					</ul>
				</details>
			</a>
			<a class="article" href="https://github.com/WaywardGame/goodstream">
				<h4>goodstream</h4>
				<div class="details"><span class="date">2019-present.</span> A node.js module inspired by Java Streams and other similar modules to provide a lot of easy-to-use features for handling IterableIterators at a decently fast clip.</div>
				<p>While this module is great to use and I've used it in a lot of projects — mainly Wayward — its performance is not amazing and the module needs to be redone due to that.</p>
			</a>
		</section>
	</article>
	
	<article class="inactive">
		<h2 id="music"><a href="#music">Music</a></h2>
		<header>
			<nav>
				<a href="https://soundcloud.com/chirichirichiri">SoundCloud</a>
				<a href="https://chirichirichiri.bandcamp.com/">Bandcamp</a>
			</nav>
		</header>
		<p>I used to make music a lot, but not too much anymore. It never really clicked for me like other things that I do, it was always a struggle to make anything. I could never produce the sound I wanted to, even if I knew exactly what I wanted, and that just made it a struggle. Maybe someday I'll pick it up again and figure things out further.</p>
		<p>For what it's worth, here's the song I'm proudest of:</p>
		<iframe loading="lazy" title="Moore's Law — Chirichirichiri" height="166" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/661307534&color=%23387eff&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
	</article>
</aside>
