@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--background-drawer: #1b1b27;
	--background: #223;
	--background-2: #272c45;
	--background-3: #2c3250;
	--background-4: #333b5f;
	--background-5: #3d4774;
	--color: #cdf;
	--color-2: #8796b6;
	--color-3: #46587c;
	--color-active: #fff;
	--color-price: #3ea130;
	--color-length: #9573d3;
	--color-date: #bda51e;
	--link: #387eff;
	--link-active: #69a9fd;
	--image-border: var(--background);
}

@media (prefers-color-scheme: light) {
	:root {
		--background-drawer: var(--background-2);
		--background: #fff;
		--background-2: #f3f7ff;
		--background-3: #e1ebff;
		--background-4: #d4e1fb;
		--background-5: #cdf;
		--color: #223;
		--color-2: #8d8db3;
		--color-3: #a3a3dd;
		--color-date: #a88f00;
		--color-active: #000;
	}
}

/* MAIN */
html {
	background: var(--background);
	color: var(--color);
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
	--padding-x: 4em;
	--padding-b: 2em;
	padding: 0 var(--padding-x) var(--padding-b);
	transition: padding .3s ease-in-out;
	position: relative;
}

body::before {
	content: "";
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	height: 100%;
	width: 100%;
	background:var(--background);
	animation: swipe-in .5s ease-in forwards;
	animation-delay: 0.2s;
}

@keyframes swipe-in {
	from {
		height: 100%;
	}
	to {
		height: 0%;
	}
}

@media (max-width: 1300px) {
	body {
		--padding-x: 2em;
	}
}

@media (max-width: 700px) {
	body {
		--padding-x: 0em;
	}
}

p, li, summary {
	letter-spacing: 0.01em;
	line-height: 1.5em;
	margin: 0.4em 0;
	text-align: justify;
}

a {
	font-weight: bold;
	color: var(--link);
	padding: 0.1em 0.4em;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid transparent;
	display: inline-block;
	user-select: none;
	position: relative;
	margin: 0 0.2em;
}

a:hover, a:focus {
	color: var(--link-active);
	border-color: currentColor;
}

p a {
	border: none;
	padding: 0;
	margin: 0;
}

p a:hover, p a:focus {
	text-decoration: underline;
}

footer {
	margin: 3em calc(var(--padding-x) * -1) calc(var(--padding-b) * -1);
	padding: 3em calc(var(--padding-x) + 2em) var(--padding-b);
	text-align: right;
	background: var(--background-drawer);
}

footer p {
	text-align: right;
}

footer nav {
	margin-top: 1em;
	border-right: 2px solid var(--background-4);
}

nav a {
	/* line-height: 1.8em;
	padding-bottom: 0; */
	margin-bottom: 0.2em;
}

img:not(.borderless) {
	border: 2px solid var(--image-border);
	box-sizing: border-box;
}

iframe {
	border: none;
	width: 100%;
}

h1, h2, h3 {
	font-family: 'Poiret One', sans-serif;
}

h1, h2, h3, h1 a, h2 a, h3 a {
	font-weight: normal;
}

h1 a, h2 a, h3 a {
	margin: 0;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	margin: -0.5em;
	margin-bottom: 0.25em;
	position: sticky;
	top: -1px;
	z-index: 3;
}

h2 a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding-top: 0.1em;
	padding-bottom: 0.2em;
	padding-left: 0.3em;
	background: var(--background-3);
	font-weight: normal;
	border: none;
	border-radius: 0;
	transition: color .5s ease-out;
	z-index: 0;
}

h2 a::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background: var(--background-4);
	transition: width .5s ease-out;
	z-index: -1;
}

h2 a:hover, h2 a:focus {
	transition-duration: .1s;
	color: var(--color-active);
}

h2 a:hover::before, h2 a:focus::before {
	width: 100%;
	transition-duration: .1s;
}

h3 {
	font-size: 1.5em;
}

main > aside > article {
	width: calc(100% - 4em);
	margin: 2em 2em 4em;
	background: var(--background-2);
	padding: 1em;
	display: inline-block;
	position: relative;
	transition: margin .5s ease-out;
	box-sizing: border-box;
}

@media (min-width: 1801px) {
	main {
		display: grid;
		grid-template-columns: 3fr 2fr;
		column-gap: 2em;
	}
	
	main > aside:nth-child(2) {
		margin-top: 6em;
	}
}

@media (max-width: 1800px) {
	main {
		display: flex;
		flex-direction: column;
	}
	
	aside {
		display: contents;
	}
	
	main > aside:nth-child(1) > article:nth-child(1) {
		order: 1;
	}
	
	main > aside:nth-child(2) > article:nth-child(1) {
		order: 2;
	}
	
	main > aside:nth-child(1) > article:nth-child(2) {
		order: 3;
	}
	
	main > aside:nth-child(2) > article:nth-child(2) {
		order: 4;
	}
}

@media (max-width: 700px) {
	main > aside > article {
		margin: 2em 0;
		width: 100%;
	}
}

.inactive::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: var(--background);
	opacity: 0.7;
	width: 100%;
	height: 100%;
	transition: width .5s ease-out;
	z-index: 100;
	pointer-events: none;
}

.inactive:hover::before, .inactive:focus-within::before {
	width: 0%;
	transition-duration: .1s;
}

nav a + a::before {
	position: absolute;
	content: "∙";
	pointer-events: none;
	color: var(--color-3);
	left: -0.5em;
	top: -0.05em;
}

.article {
	background: var(--background-3);
	padding: 1em;
	margin: 1em;
	font-weight: normal;
	color: inherit;
	border: none;
	position: relative;
	z-index: 1;
	transition: color .5s ease-out;
	box-sizing: border-box;
	width: calc(100% - 2em);
	border-radius: 0;
}

.article::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: var(--background-4);
	z-index: -1;
	transition: width .5s ease-out;
}

.article:hover, .article:focus {
	color: var(--color-active);
	transition-duration: .1s;
}

.article:hover::before, .article:focus::before {
	width: 100%;
	transition-duration: .1s;
}

.article:nth-child(2n+1) {
	margin-left: 3em;
	width: calc(100% - 4em);
}

.article:nth-child(2n+1)::before {
	left: auto;
	right: 0;
}

.article:nth-child(2n) {
	margin-right: 3em;
	width: calc(100% - 4em);
}

#programming ~ section .article {
	margin: 1em;
	width: calc(100% - 2em);
}

#programming ~ section .article:nth-child(2n+1) {
	text-align: right;
}

#programming ~ section .article > img {
	max-height: 150px;
}

.article > img {
	min-width: 0;
	max-width: 100%;
}

.article h4 {
	font-size: 2em;
	margin: 0;
	margin-bottom: 0.5em;
	transition: font-size .5s ease-out;
	font-weight: normal;
}

@media (max-width: 1000px) {
	.article h4 {
		font-size: 1.2em;
	}
}

.article .details {
	color: var(--color-2);
	font-size: 0.9em;
	margin-bottom: 0.5em;
}

.article .details span {
	font-weight: bold;
}

.price {
	color: var(--color-price);
}

.length {
	color: var(--color-length);
}

.date {
	color: var(--color-date);
}

section:first-of-type {
	margin-top: 1em;
}

section > h3 {
	position: sticky;
	top: 1.9em;
	z-index: 2;
	background: var(--background-2);
	padding: 0.5em 0;
	margin: 0;
	display: grid;
	grid-template-columns: auto 1fr;
	user-select: none;
}

section > h3::after {
	content: "";
    height: 1px;
    background: var(--background-5);
    position: relative;
    top: 50%;
    margin-left: 1em;
}


/* CHIRI OF MANY NAMES */
#home {
	margin-bottom: 0.3em;
}

#home a {
	color: inherit;
	padding: 0;
	border: none;
	position: relative;
	width: 10em;
	transition: color .5s ease-out;
}

#home a::before {
	content: "";
	display: block;
	position: absolute;
	width: 0em;
	height: 1.5em;
	top: -0.15em;
	left: -0.5em;
	transition: width .5s ease-out;
	background: var(--background-3);
	z-index: -1;
}

#home a:hover, #home a:focus {
	color: #fff;
	transition-duration: .1s;
}

#home a:hover::before, #home a:focus::before {
	width: 10em;
	transition-duration: .1s;
}

.names {
	position: relative;
	display: inline-block;
	user-select: none;
	pointer-events: none;
    width: 200px;
    height: 1em;
    vertical-align: text-top;
}

.names > span {
	display: inline-block;
	position: absolute;
	animation: switch-name 16s linear infinite forwards;
	top: 100%;
	opacity: 0;
	white-space: nowrap;
}

.names > span:nth-child(2) { animation-delay: 4s; }
.names > span:nth-child(3) { animation-delay: 8s; }
.names > span:nth-child(4) { animation-delay: 12s; }

@keyframes switch-name {
	2.5% {
		opacity: 0;
		top: 50%;
	}
	5% {
		opacity: 1;
		top: 0%;
	}
	20% {
		opacity: 1;
		top: 0%;
	}
	25% {
		opacity: 0;
		top: -100%;
	}
}


/* STORIES */
.story {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 2em;
}

.story:not(:last-child) {
	margin-bottom: 2em;
}

.story > * {
	grid-column: 2;
}

.story > img {
	box-sizing: initial;
	grid-column: 1;
	grid-row: 1/10;
	width: 200px;
	transition: width .5s ease-out;
}

.story:nth-child(2n+1) {
	grid-template-columns: 1fr auto;
}

.story:nth-child(2n+1) > * {
	grid-column: 1;
}

.story:nth-child(2n+1) > img {
	grid-column: 2;
}

@media (max-width: 1000px) {
	.story {
		column-gap: 1em;
	}
	
	.story > img {
		width: 100px;
	}
}


/* ART */
#art ~ section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}

#art ~ section h3 {
	flex-basis: 100%;
}

.art {
	position: relative;
}

.art a {
	padding: 0.25em;
}

.art h4 {
	position: absolute;
	bottom: 0em;
	width: calc(100% - 1em);
	padding: 0.5em 0.25em;
	box-sizing: border-box;
	margin: 0.5em;
	text-align: center;
	opacity: 0;
	transition: opacity .5s ease-out;
	pointer-events: none;
}

.art h4 a {
	pointer-events: all;
}

.art h4::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-2);
	opacity: 0.98;
}

.art:hover h4, .art:focus-within h4 {
	opacity: 1;
	transition-duration: .1s;
}
