#home {
	margin-bottom: 0.3em;
	
	a {
		overflow: initial;
		vertical-align: initial;
		color: inherit;
		padding: 0;
		border: none;
		position: relative;
		width: 100%;
		max-width: 10em;
		transition: color .5s ease-out;
		background: none;
		
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 0em;
			height: 1.5em;
			top: -0.15em;
			left: -0.5em;
			transition: width .5s ease-out;
			background: var(--background-3);
			z-index: -1;
		}
		
		&:hover, &:focus {
			color: var(--color-active);
			transition-duration: .1s;
			
			&::before {
				width: 10.5em;
				transition-duration: .1s;
			}
		}
		
		&::after {
			content: none;
		}
	}
}
