// main {
// 	padding: 0;
// }

@media (min-width: 701px) {
	.masonry > aside > article {
		width: calc(100% - 4em);
		max-width: none;
	}
}

@media (min-width: 1801px) {
	.masonry {
		display: grid;
		column-gap: 2em;
	}
	
	.masonry > aside:nth-child(2n) {
		margin-top: 6em;
	}
}

@media (max-width: 1800px) {
	.masonry {
		display: flex;
		flex-direction: column;
	
		> aside {
			display: contents;
			
			$columns: 2;
			@for $i from 1 through 5 {
				@for $c from 1 through $columns {
					&:nth-child(#{$c}) > article:nth-child(#{$i}) {
						order: $i * $columns + $c + 1;
					}
				}
			}
		}
	}
}
