{% assign post=include.post %}

{% assign class = "" %}
{% assign href = "#" %}
{% if post.url != page.url %}
	{% assign class="isnav" %}
	{% assign href = post.url %}
{% endif %}

<article class="blogpost">
	<h2 id="{{ post.id }}"><a href="{{ href }}" class="{{ class }}">{{ post.title }}</a></h2>

	{% if include.truncate != nil %}
		{% include util/truncate truncate=include.truncate content=post.content %}
	{% else %}
		{% capture content %}{% include util/section-by-h3 content=post.content %}{% endcapture %}
		{% include util/fix-spoilers content=content %}
	{% endif %}

	<footer>
		<p class="details">
			Posted <span class="date"><span data-date="{{ post.date }}">{{ post.date | date: "%b %d, %Y" }}</span></span>
			<br>
			{% if post.tags.size %}
				Tagged as 
					{% assign tags = post.tags | sort %}
					{% for tag in tags %}
						{% assign navtag = site.tags | where: "title", tag | first %}
						{% if navtag %}
							<a class="tag" href="{{ navtag.url }}">{{ tag }}</a>
						{% else %}
							<span class="tag">{{ tag }}</span>
						{% endif %}
					{% endfor %}
			{% endif %}
		</p>
		{% if include.truncate != nil %}
			<a class="local-link" href="{{ href }}">Read More</a>
		{% endif %}
	</footer>
</article>