{% assign posts = site.blog | sort: "date" | reverse %}
{% assign limit = 9999999 %}
{% if include.limit != nil %}
	{% assign limit = include.limit %}
{% endif %}

{% for post in posts limit: limit %}
	{% if include.smol == true %}
		
		<a class="article isnav blog-smol" href="{{ post.url }}">
			<span class="date" data-date="{{ post.date }}">{{ post.date | date: "%b %d, %Y" }}</span> <b>{{ post.title }}</b> — <span>{{ post.content | strip_html | truncate: 128 }}</span>
		</a>
		
	{% else %}
	
		{% include blogpost.html post=post truncate=512 %}
		
	{% endif %}
{% endfor %}

{% if include.smol != true %}
	<footer>
		{% if include.limit != nil and posts.size > include.limit %}
			<a class="local-link" href="/blog/all">Archive</a>
		{% else %}
			<p class="eoc">You've reached the end of the content! Such a travesty...</p>
		{% endif %}
	</footer>
{% endif %}