html {
	background: var(--background);
	color: var(--color);
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
	--padding-x: 4em;
	--padding-b: 2em;
	padding: 0 var(--padding-x) var(--padding-b);
	transition: padding .3s ease-in-out;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	box-sizing: border-box;
}

main {
	padding: 2em;
	flex-grow: 1;
}

body::before {
	content: "";
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	height: 100%;
	width: 100%;
	background:var(--background);
	animation: swipe-in .5s ease-in forwards;
	animation-delay: 0.2s;
}

@keyframes swipe-in {
	from {
		height: 100%;
	}
	to {
		height: 0%;
	}
}

@media (max-width: 1300px) {
	body {
		--padding-x: 2em;
	}
}

@media (max-width: 700px) {
	body {
		--padding-x: 0em;
	}
}

p, li, summary {
	letter-spacing: 0.01em;
	line-height: 1.5em;
	margin: 0.4em 0;
	text-align: justify;
}

a {
	font-weight: bold;
	color: var(--link);
	padding: 0.1em 0.4em;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid transparent;
	display: inline-block;
	user-select: none;
	position: relative;
	margin: 0 0.2em;
}

a:hover, a:focus {
	color: var(--link-active);
	border-color: currentColor;
}

p a {
	border: none;
	padding: 0;
	margin: 0;
}

p a:hover, p a:focus {
	text-decoration: underline;
}

article {
	width: calc(100% - 4em);
	max-width: 900px;
	margin: 2em 2em 4em;
	background: var(--background-2);
	padding: 1em;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	transition: margin .5s ease-out;
}

@media (max-width: 700px) {
	article {
		margin: 2em 0;
		width: 100%;
	}
}

footer {
	margin: 3em calc(var(--padding-x) * -1) calc(var(--padding-b) * -1);
	padding: 3em calc(var(--padding-x) + 2em) var(--padding-b);
	text-align: right;
	background: var(--background-drawer);
}

footer p {
	text-align: right;
}

footer nav {
	margin-top: 1em;
	border-right: 2px solid var(--background-4);
}

nav a {
	margin-bottom: 0.2em;
}

img:not(.borderless) {
	border: 2px solid var(--image-border);
	box-sizing: border-box;
}

iframe {
	border: none;
	width: 100%;
}

h1, h2, h3 {
	font-family: 'Poiret One', sans-serif;
}

h1, h2, h3, h1 a, h2 a, h3 a {
	font-weight: normal;
}

h1 a, h2 a, h3 a {
	margin: 0;
}

h1 {
	font-size: 3em;
}

h2 {
	margin: 0;
}

article > h2 {
	margin: -0.5em;
	position: sticky;
	top: -1px;
	z-index: 3;
}

h2, article > h2 {
	font-size: 2em;
	margin-bottom: 0.25em;
}

h2 a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding-top: 0.1em;
	padding-bottom: 0.2em;
	padding-left: 0.3em;
	background: var(--background-3);
	font-weight: normal;
	border: none;
	border-radius: 0;
	transition: color .5s ease-out;
	z-index: 0;
}

h2 a::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background: var(--background-4);
	transition: width .5s ease-out;
	z-index: -1;
}

h2 a:hover, h2 a:focus {
	transition-duration: .1s;
	color: var(--color-active);
}

h2 a:hover::before, h2 a:focus::before {
	width: 100%;
	transition-duration: .1s;
}

h3 {
	font-size: 1.5em;
}

.inactive::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: var(--background);
	opacity: 0.7;
	width: 100%;
	height: 100%;
	transition: width .5s ease-out;
	z-index: 100;
	pointer-events: none;
}

.inactive:hover::before, .inactive:focus-within::before {
	width: 0%;
	transition-duration: .1s;
}

nav a + a::before {
	position: absolute;
	content: "∙";
	pointer-events: none;
	color: var(--color-3);
	left: -0.5em;
	top: -0.05em;
}

.article {
	background: var(--background-3);
	padding: 1em;
	margin: 1em;
	font-weight: normal;
	color: inherit;
	border: none;
	position: relative;
	z-index: 1;
	transition: color .5s ease-out;
	box-sizing: border-box;
	width: calc(100% - 2em);
	border-radius: 0;
}

.article::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: var(--background-4);
	z-index: -1;
	transition: width .5s ease-out;
}

.article:hover, .article:focus {
	color: var(--color-active);
	transition-duration: .1s;
}

.article:hover::before, .article:focus::before {
	width: 100%;
	transition-duration: .1s;
}

@media (min-width: 700px) {
	.article:nth-child(2n+1) {
		margin-left: 3em;
		width: calc(100% - 4em);
	}
	
	.article:nth-child(2n) {
		margin-right: 3em;
		width: calc(100% - 4em);
	}
}

.article:nth-child(2n+1)::before {
	left: auto;
	right: 0;
}

.article > img {
	min-width: 0;
	max-width: 100%;
}

.article h4 {
	font-size: 2em;
	margin: 0;
	margin-bottom: 0.5em;
	transition: font-size .5s ease-out;
	font-weight: normal;
}

@media (max-width: 1000px) {
	.article h4 {
		font-size: 1.2em;
	}
}

.article .details {
	color: var(--color-2);
	font-size: 0.9em;
	margin-bottom: 0.5em;
}

.article .details span {
	font-weight: bold;
}

.price {
	color: var(--color-price);
}

.length {
	color: var(--color-length);
}

.date {
	color: var(--color-date);
}

section:first-of-type {
	margin-top: 1em;
}

section > h3 {
	position: sticky;
	top: 1.9em;
	z-index: 2;
	background: var(--background-2);
	padding: 0.5em 0;
	margin: 0;
	display: grid;
	grid-template-columns: auto 1fr;
	user-select: none;
}

section > h3::after {
	content: "";
    height: 1px;
    background: var(--background-5);
    position: relative;
    top: 50%;
    margin-left: 1em;
}

@media (max-width: 700px) {
	body > header {
		padding-left: 0.5em;
		box-sizing: border-box;
	}
}
