@import "../vars";

#home {
	position: relative;
	
	> div, > span {
		position: absolute;
		top: 0;
		display: grid;
		grid-template-columns: auto 1fr;
		pointer-events: none;
	}
	
	> div > span {
		opacity: 0;
		user-select: none;
	}
	
	.rss-link {
		width: 1em;
		height: 1em;
		pointer-events: all;
		
		&::before {
			top: 0;
			left: 0;
			height: 100%;
		}
		
		&:hover::before, &:focus::before {
			width: 100%;
		}
	}
}

.blogpost {
	p:not(.details), li {
		margin: 1em 0;
		line-height: 1.6em;
		font-size: 1.1em;
	}
	
	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 4em;
		width: 100%;
		height: calc(100% - 4em);
		@include resolve(background, linear-gradient(to top, var(--background-2), transparent 100px));
		pointer-events: none;
	}
}

.readmore > span {
	pointer-events: none;
	user-select: none;
	position: absolute;
	left: -999999999px;
}

@import "../code";
