.story {
	display: grid;
	grid-template-columns: auto 1fr;
}

.story:not(:last-child) {
	margin-bottom: 2em;
}

.story > * {
	grid-column: 2;
}

.story > img {
	box-sizing: initial;
	grid-column: 1;
	grid-row: 1/10;
	width: 200px;
	transition: width .5s ease-out;
	--margin: 2em;
	margin-right: var(--margin);
}

.story:nth-child(2n+1) {
	grid-template-columns: 1fr auto;
}

.story:nth-child(2n+1) > * {
	grid-column: 1;
}

.story:nth-child(2n+1) > img {
	grid-column: 2;
	margin-right: 0;
	margin-left: var(--margin);
}

@media (max-width: 700px) {
	.story > img {
		grid-row: 1/3;
	}
	
	.story > p {
		grid-column: 1/3 !important;
	}
}

@media (max-width: 1000px) {
	.story > img {
		--margin: 1em;
		width: 100px;
	}
}
