#art ~ section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	
	.heading4 {
		flex-basis: 100%;
	}
}

.art {
	position: relative;
	
	> a {
		padding: 0.25em;
		height: 100%;
		box-sizing: border-box;
		display: inline-grid;
		align-items: center;
		grid-template-rows: 0px 1fr;
		margin: 0;
		vertical-align: top;
	}
	
	img {
		min-width: 100px;
		min-height: 100px;
	}
	
	.heading5 {
		position: absolute;
		bottom: 0em;
		width: calc(100% - 1em + 2.5px);
		padding: 0.5em 0.25em;
		box-sizing: border-box;
		margin: calc(0.5em - 1px);
		text-align: center;
		opacity: 0;
		transition: opacity .5s ease-out;
		pointer-events: none;
		z-index: 1;
		
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--background-2);
			opacity: 0.98;
		}
		
		a {
			pointer-events: all;
		}
		
		div {
			position: relative;
			padding: 0.1em 0.4em;
			margin: 0 0.2em;
		}
	}

	&:hover, &:focus-within {
		.heading5 {
			opacity: 1;
			transition-duration: .1s;
		}
	}
}
