.blog-smol {
    box-sizing: border-box;
    position: relative;
	padding: 1em;
	margin-top: 1em;
	padding-right: 2em;
	
	& + & {
		margin-top: 0.5em;
	}
	
	.date {
		padding-right: 0.5em;
		margin-right: 0.5em;
		border-right: 1px solid var(--color-3);
	}
}

#blog footer {
	padding-bottom: 0.5em;
}