---
layout: default
---

{% include blogpost.html post=page %}

<nav class="posts-nav">
	
	{% if page.previous.url %}
		<a class="posts-nav-prev local-link" href="{{ page.previous.url }}">{{ page.previous.title }} &nbsp; <span class="details">Previous</span></a>
	{% endif %}
	
	{% assign posts = site.blog | sort: "date" | reverse %}
	{% for post in posts limit: 20 %}
		{% if post.url == page.url %}
			{% assign index = forloop.index %}
		{% endif %}
	{% endfor %}
	
	<a class="posts-nav-index local-link" href="{% if index == nil %}/blog/all{% else %}/blog{% endif %}">All</a>
	
	{% if page.next.url %}
		<a class="posts-nav-next local-link" href="{{ page.next.url }}"><span class="details">Next</span> &nbsp; {{ page.next.title }}</a>
	{% endif %}
	
</nav>
