<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	{% include scss href="css/index.scss" %}
	<link rel="shortcut icon" href="/static/image/logo.png" />
	<title>Chiri Vulpes &nbsp;| &nbsp;Author ∙ Designer ∙ Developer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	{% assign description = page.description %}
	{% if page.preview == true %}
		{% assign description = page.content | strip_html | truncate: 256 %}
	{% endif %}
	<meta name="description" content="{{ description }}" />

	{% if page.title and description and page.url %}
		<meta property="og:type" content="{{ page.type | default: "website" }}" />
		<meta property="og:title" content="{{ page.title }}" />
		{% if page.date %}
			{% assign description = page.date | date: "%b %d, %Y" | append: " — " | append: description %}
		{% endif %}
		<meta property="og:description" content="{{ description }}" />
		<meta property="og:image" content="https://chiri.works/static/image/logo.png" />
		<meta property="og:url" content="https://chiri.works{{ page.url }}" />
		{% if page.type == "article" %}
			{% if page.date %}
				<meta property="og:article:published_time" content="{{ page.date }}" />
			{% endif %}
			{% for tag in page.tags %}
				<meta property="og:article:tag" content="{{ tag }}" />
			{% endfor %}
			<meta property="og:article:author" content="Chiri Vulpes" />
		{% endif %}
	{% endif %}
	
	{% if page.css %}
		{% for css in page.css %}
			{% assign filename = "css/" | append: css | append: ".scss" %}
			{% include scss href=filename %}
		{% endfor %}
	{% endif %}
	
</head>

<body>

<header>
	<h1 id="home"><a href="/">Chiri<span class="names">
		<span>&nbsp;Vulpes</span>
		<span aria-hidden="true">chirichiri</span>
		<span aria-hidden="true">&nbsp;Mystere</span>
		<span aria-hidden="true">Cuddles</span>
	</span></a></h1>
	
	<nav>
		{% if site.blog.size > 0 %}
			{% if page.url != "/" %}
				<a class="local-link" href="/">Portfolio</a>
			{% endif %}
			{% assign url = "/" | append: page.url | append: "/" %}
			{% if url contains "/blog/" or url contains "/blog.html/" %}{% else %}
				<a class="local-link" href="/blog">Blog</a>
			{% endif %}
		{% endif %}
		<a href="https://github.com/ChiriCuddles">GitHub</a>
		<a href="https://twitter.com/ChiriMystere">Twitter</a>
		<a href="https://www.patreon.com/chirichirichiri">Author Patreon</a>
		<a href="https://discord.gg/XPPvW9F">Discord</a>
	</nav>
</header>

<main class="{% if page.basic %}basic{% endif %}">
{{content}}
</main>

<footer>
	{% if page.footer != false %}
		{% if page.footer %}
			{% include {{ page.footer }} %}
			
		{% else %}
			
		{% endif %}
	{% endif %}
	<nav>
		<a href="https://github.com/ChiriCuddles">GitHub</a>
		<a href="https://twitter.com/ChiriMystere">Twitter</a>
		<a href="https://discord.gg/XPPvW9F">Discord</a>
		<br>
		<a href="https://www.scribblehub.com/profile/12063/chirichirichiri/">Scribble Hub</a>
		<a href="https://chirichirichiri.itch.io/">itch.io</a>
		<a href="https://www.patreon.com/chirichirichiri">Patreon</a>
		<br>
		<a href="https://www.youtube.com/channel/UCePEUnShLHdvPfsjkEH5dDA">YouTube</a>
		<a href="https://www.twitch.tv/chirichirichiri">Twitch</a>
		<a href="https://soundcloud.com/chirichirichiri">SoundCloud</a>
		<a href="https://chirichirichiri.bandcamp.com/">Bandcamp</a>
	</nav>
</footer>

<script src="/index.js"></script>

</body>

</html>